# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

# Ignore IDE specific files
.vscode/
.idea/

# Environments
.env
.venv
/venv
env/
venv/
ENV/
env.bak/
venv.bak/
/tests/.env.test